/*
Author: Fatima Anjum
Date: Current Date
File Name: styles.css
*/

/* CSS Reset */
body,header, nav, main, footer, img, h1{
		margin: 0;
		padding: 0;
		border: 0;
	}

	/*Style Rule for imgages */
	img {
		max-width: 100%;
		display: block;
	}
	
	/* Style rules for header content */
	header h3 {
		text-align: center;
		background-color: #b30000;
		color: white;
		font-size: 1.25em;
		padding; 15px;
	}
	header h1 {
		font-style: italic;
	}
	
	/*style rules for navigation area */
	nav {
		background-color:#b30000;
	}
	
	nav ul {
		list-style-type: none;
		margin:3px;
		text-align: center;
	}
	
	nav li {
		display: inline-block;
		margin: 10px;
}

	nav li a {
		text-decoration: none; /* removes underline */
		color: white;
		font-weight: bold;
}

	nav a:hover {
		color: #ffcc00;
}

/* Style rule for main */
	main {
		padding: 10px;
		font-family: Verdana, Arial, sans-serif;
}

/* Id selector */
	#welcome {
		text-align: center;
}

/* Class selector */
	.highlight {
		color: #b30000;
		font-weight: bold;
}

/* Style rules for images */
	img {
		max-width: 100%;
		display: block;
		margin: 10px auto;
}

/*Style rules for footer */
	footer {
		background-color: #b30000;
		color: white;
		text-align: center;
		padding: 10px;
}

	footer a {
		color: #ffcc00;
		text-decoration: none;
}	